In [ ]:
# Importando bibliotecas
import pandas as pd

In [ ]:
# carragando os dados e os contatenando
dados_20101 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20101.csv')
dados_20102 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20102.csv')
dados_20111 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20111.csv')
dados_20112 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20112.csv')
dados_20121 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20121.csv')
dados_20122 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20122.csv')
dados_20131 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20131.csv')
dados_20132 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20132.csv')
dados_20141 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20141.csv')
dados_20142 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20142.csv')
dados_20151 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20151.csv')
dados_20152 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20152.csv')
dados_20161 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20161.csv')
dados_20162 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20162.csv')
dados_20171 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20171.csv')
dados_20172 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20172.csv')
dados_20181 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20181.csv')
dados_20182 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20182.csv')
dados_20191 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20191.csv')
dados_20192 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20192.csv')
dados_20201 = pd.read_csv('../Datasets/dados_emprestimos/emprestimos-20201.csv')

emprestimos = pd.concat([dados_20101, dados_20102, dados_20111, dados_20112, dados_20121, dados_20122, dados_20131, 
                        dados_20132, dados_20141, dados_20142, dados_20151, dados_20152, dados_20161, dados_20162, 
                        dados_20171, dados_20172, dados_20181, dados_20182, dados_20191, dados_20192, dados_20201])

emprestimos

In [ ]:
# Removendo duplicados
emprestimos = emprestimos.drop_duplicates()
# removendo valores nulos exceto para data_devolucao
emprestimos = emprestimos.dropna(subset=['id_emprestimo', 'codigo_barras', 'data_emprestimo', 'data_devolucao', 
                                         'matricula_ou_siape', 'tipo_vinculo_usuario', ])
emprestimos.head()

In [40]:
#Importando dados de exemplares
dados_exemplares = pd.read_parquet('../Datasets/dados_exemplares.parquet')
dados_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [41]:
#concatenando os dados
dados = pd.merge(emprestimos, dados_exemplares, on='codigo_barras')
dados.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736